# "Sparse checkout" allows to sparsely populate working directory.
# It uses skip -worktree bit (see git-update-index(1)) to tell Git
# whether a file on working directory is worth looking at.
# http://schacon.github.io/git/git-read-tree.html#_sparse_checkout

# Checkout everything...

*

# Except for the folloing files and/or folders

# Files

!.htaccess

!.gitignore
!.gitattributes
# !.gitkeep
# !.gitmodules

!/gruntfile.js
!/Gruntfile.js
!/package.json

!/.editorconfig

!/.eslintrc
!/.jshintrc

!readme.txt
!readme.html
!readme.md
!readme.mdown
!readme.markdown
!README.txt
!README.html
!README.md
!README.mdown
!README.markdown

!assets/javascript/head.scripts.js
!assets/javascript/main.scripts.js
!assets/javascript/mobile.scripts.js
!assets/javascript/photoswipe.scripts.js

# Folders

!assets/javascript/dev/*/*
!assets/javascript/dev/*
!assets/javascript/dev/

!assets/javascript/lib/*/*/*
!assets/javascript/lib/*/*
!assets/javascript/lib/*
!assets/javascript/lib/

!assets/javascript/modules/*/*
!assets/javascript/modules/*
!assets/javascript/modules/

!assets/stylesheets/scss/*/*/*
!assets/stylesheets/scss/*/*
!assets/stylesheets/scss/*
!assets/stylesheets/scss/

!design/*/*/*/*
!design/*/*/*
!design/*/*
!design/*
!design/

!grunt/*/*
!grunt/*
!grunt/
